footer.main {
	background-color: #fff;
	padding:25px 50px 25px 50px;
	color:#000;
	font-size:13px;
	// background-color: #f7f7f7;
	text-align:right;
	// border-top:5px solid rgba(255, 127, 42, 0.61);;

}

.footer-section a, .footer-section a:hover {
	color:#000;
}
